In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rohit\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (2022.6.15)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\rohit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rohit\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rohit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rohit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#Lets import all the required libraries 
import selenium # Libraries that is used to work  with selenium
from selenium import webdriver # importing web driver module from selenium to open automated edge window
import pandas as pd # to create dataframe
from selenium.webdriver.common.by import By#importing inbuild class BY
import warnings #to ignore any sort warnings
warnings.filterwarnings('ignore')
import time# used to stop search engine for few seconds

Question 1

In [3]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [4]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos" # Here i am assigning the link in url name variable 
driver.get(url)

In [5]:
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [6]:
Rank=[]

In [7]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [8]:
Name=[]

In [9]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [10]:
Artist=[]

In [11]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

In [12]:
Upload_Date=[]

In [13]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

In [14]:
Views=[]

In [15]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [16]:
import pandas as pd

In [17]:
data=pd.DataFrame({'Rank':Rank,'Name':Name,"Artist":Artist,"Upload_Date":Upload_Date,"Views":Views})
data

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[26]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[27]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[41]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[46]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[47]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[50]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[51]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[52]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.38

In [18]:
driver.close()

Question 2

In [40]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [41]:
url="https://www.bcci.tv/" # Here i am assigning the link in url name variable 
driver.get(url)

In [42]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[1]/a")
search_btn.click()

In [43]:
Match_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@ class="matchOrderText ng-binding ng-scope"]'):
        Match_title.append(i.text.replace('-',""))
except NoSuchElementException:
    Match_title.append('-')

In [44]:
Series=[]
try:
    for i in driver.find_elements(By.XPATH,'//h5 [@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [45]:
Place=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [46]:
Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//div [@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [47]:
Time=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@ class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [48]:
  from numpy.ma import mrecords

In [50]:
df = pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df

,Match_title,Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",9 JUL 2023,1:30 PM IST
1,2nd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",11 JUL 2023,1:30 PM IST
2,1st Test,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
3,3rd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",13 JUL 2023,1:30 PM IST
4,1st ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",16 JUL 2023,9:00 AM IST
5,2nd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",19 JUL 2023,9:00 AM IST
6,2nd Test,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
7,3rd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",22 JUL 2023,9:00 AM IST

In [51]:
driver.close()

Question 3

In [52]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [53]:
url="http://statisticstimes.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [54]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]').click()

In [55]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [56]:
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [57]:
State=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

In [58]:
GDPs=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[8]'):
        GDPs.append(i.text)
except NoSuchElementException:
    GDPs.append('-')

In [59]:
GDP=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [60]:
Share=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

In [61]:
GDPa=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
        GDPa.append(i.text)
except NoSuchElementException:
    GDPa.append('-')

In [62]:
import pandas as pd

In [63]:
df1 =pd.DataFrame({'Rank':Rank,"State":State,"GSDP(18-19)- at current prices":GDPs,"GSDP(19-20)- at current prices":GDP,"Share":Share,"GDP($ billion)":GDPa})
df1

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share,GDP($ billion)
0,1,Maharashtra,"2,039,074",-,13.94%,399.921
1,2,Tamil Nadu,"1,215,307","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,123,982","1,687,818",8.39%,240.726
3,4,Gujarat,"1,186,379",-,7.96%,228.290
4,5,Karnataka,"1,091,077","1,631,977",7.91%,226.806
5,6,West Bengal,"739,525","1,253,832",5.77%,165.556
6,7,Rajasthan,"677,428","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"621,301","972,782",4.57%,131.083
8,9,Telangana,"612,828","969,604",4.56%,130.791
9,10,Madhya Pradesh,"522,009","906,672",4.29%,122.977
10,11,Kerala,"559,412",-,4.14%,118.733
11,12,Delhi,"590,569","856,112",4.10%,117.703
12,13,Haryana,"531,085","831,610",3.89%,111.519
13,14,Bihar,"375,651","611,804",2.81%,80.562
14,15,Punjab,"397,669","574,760",2.79%,79.957
15,16,Odisha,"376,877","521,275",2.58%,74.098
16,17,Assam,"234,048",-,1.67%,47.982
17,18,Chhattisgarh,"231,182","329,180",1.61%,46.187
18,19,Jharkhand,"224,986","328,598",1.57%,45.145
19,20,Uttarakhand,"193,273",-,1.30%,37.351
20,21,Jammu & Kashmir,"112,755",-,0.83%,23.690
21,22,Himachal Pradesh,"117,851","165,472",0.81%,23.369
22,23,Goa,"57,787","80,449",0.39%,11.115
23,24,Tripura,"36,963","55,984",0.26%,7.571
24,25,Chandigarh,"31,192",-,0.22%,6.397
25,26,Puducherry,"23,013","38,253",0.18%,5.230
26,27,Meghalaya,"24,682","36,572",0.18%,5.086
27,28,Sikkim,"18,722","32,496",0.15%,4.363
28,29,Manipur,"19,300","31,790",0.15%,4.233
29,30,Nagaland,"17,647",-,0.14%,4.144
30,31,Arunachal Pradesh,"16,676",-,0.13%,3.737
31,32,Mizoram,"16,478","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [64]:
driver.close()

question 4

In [69]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [70]:
url=" https://github.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [76]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]").click()

In [78]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/main/div[1]/nav/div/a[3]").click()

In [97]:
Repository_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

In [98]:
Repository__title=Repository_title[0:20]

In [99]:
len(Repository__title)

20

In [84]:
Repository_description=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@ class="col-9 color-fg-muted my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

In [100]:
Repository__description=Repository_description[0:20]

In [87]:
Contributors_count=[]
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3'][1]"):
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')

In [101]:
Contributors__count=Contributors_count[0:20]

In [92]:
Language_used=[]
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']"):
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')
    time.sleep(5)

In [93]:
len(Language_used)

20

In [94]:
import pandas as pd

In [102]:
data=pd.DataFrame({"Repository_title":Repository__title,"Repository_description":Repository__description,"Contributors_count":Contributors__count,"Language_used":Language_used})
data

,Repository_title,Repository_description,Contributors_count,Language_used
0,PowerShell /,PowerShell for every system!,"39,280",C#
1,WeMakeDevs /,There can be more than Notion and Miro. AFFiNE...,598,TypeScript
2,toeverything /,An open-source C++ library developed and used ...,"18,023",C++
3,facebook /,This is the official code for Faster Segment A...,"25,525",Jupyter Notebook
4,ChaoningZhang /,Remove backgrounds from images directly in the...,"2,259",TypeScript
5,imgly /,Curated list of project-based tutorials,"1,781",HTML
6,practical-tutorials /,中国大模型,"108,559",JavaScript
7,wgwang /,All you need for End-to-end Autonomous Driving,738,Python
8,OpenDriveLab /,"A list of SaaS, PaaS and IaaS offerings that h...",339,Go
9,ripienaar /,"🥷 Superagent - Build, deploy, and manage LLM-p...","71,111",Jupyter Notebook
10,homanp /,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,"1,291",Python
11,hiyouga /,📚 Freely available programming books,"1,748",TypeScript
12,EbookFoundation /,🧑‍🏫 59 Implementations/tutorials of deep learn...,"285,239",C#
13,teslamotors /,🤗 Transformers: State-of-the-art Machine Learn...,339,Rust
14,labmlai /,🧠 Dump all your files into your private Genera...,"26,430",Python
15,huggingface /,Cross-platform .NET sample microservices and c...,"105,807",Python
16,StanGirard /,Create book from markdown files. Like Gitbook ...,"9,432",Rust
17,dotnet-architecture /,🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT ...,"23,698",Python
18,rust-lang /,Ansible for DevOps examples.,"14,017",Python
19,LiLittleCat /,《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍...,"6,944",Go

In [103]:
driver.close()

question 5

In [47]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [48]:
url="https:/www.billboard.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [50]:
driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a").click()

In [51]:
driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a").click()

In [52]:
Song_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    time.sleep(5)

In [53]:
len(Song_name)

100

In [54]:
Artist_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
    time.sleep(5)

In [55]:
Artist_name = Artist_name[0:-1:4]

In [56]:
len(Artist_name)

100

In [57]:
Peak_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    time.sleep(5)

In [58]:
len(Peak_rank)

100

In [59]:
Last_week_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
    time.sleep(5)

In [60]:
Last_week_rank=Last_week_rank[0:-1:2]
len(Last_week_rank)

100

In [61]:
Weeks_on_board=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
    time.sleep(5)

In [62]:
Weeks_on_board=Weeks_on_board[1:200:2]
len(Weeks_on_board)

100

In [63]:
#Lets Make Dataframe
import pandas as pd
data=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Peak_rank":Peak_rank,"Last_week_rank":Last_week_rank,"Weeks_on_board":Weeks_on_board})
data

,Song_name,Artist_name,Peak_rank,Last_week_rank,Weeks_on_board
0,Last Night,Morgan Wallen,1,1,22
1,Fast Car,Luke Combs,2,2,14
2,Calm Down,Rema & Selena Gomez,3,3,43
3,Flowers,Miley Cyrus,4,4,24
4,All My Life,Lil Durk Featuring J. Cole,5,5,7
...,...,...,...,...,...
95,Jaded,Miley Cyrus,96,87,7
96,Abracadabra,Young Thug Featuring Travis Scott,97,-,1
97,Truck Bed,HARDY,98,89,3
98,Save Me,Jelly Roll With Lainey Wilson,99,85,4
99,Gucci Grocery Bag,Young Thug,100,-,1

In [64]:
driver.close()

question 6

In [146]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [152]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare " # Here i am assigning the link in url name variable 
driver.get(url)

In [153]:
Book_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)

In [154]:
len(Book_name)

100

In [155]:
Author_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)

In [156]:
len(Author_name)

100

In [157]:
Volumes_sold=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)

In [158]:
len(Volumes_sold)

100

In [159]:
Publisher=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)

In [160]:
len(Publisher)

100

In [161]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [162]:
#Lets make dataframe
import pandas as pd
data=pd.DataFrame({'Book_name':Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
data

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [163]:
driver.close()

question 7

In [65]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [30]:
url="https://www.imdb.com/list/ls095964455/" # Here i am assigning the link in url name variable 
driver.get(url)

In [31]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//h3 [@class='lister-item-header']//a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [32]:
len(Name)

100

In [33]:
Year_span=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@ class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('-')
    time.sleep(5)

In [34]:
len(Year_span)

100

In [35]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [36]:
len(Genre)

100

In [37]:
Run_time=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('-')
    time.sleep(5)

In [38]:
len(Run_time)

100

In [39]:
Ratings=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
    time.sleep(5)

In [40]:
len(Ratings)

100

In [41]:
Vote=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Vote.append(i.text)
except NoSuchElementException:
    Vote.append('-')
    time.sleep(5)

In [42]:
len(Vote)

100

In [43]:
#Lets make datafram
import pandas as pd
data=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Vote":Vote})
data

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,176,882"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,254,081"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,033,832"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,954"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"263,111"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,030"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,052"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,809"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,436"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,839"

In [66]:
driver.close()

In [100]:
#question no 8 --- not able to solve

question 9

In [67]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [73]:
url="https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

In [74]:
user_input=input("Search What You Want")
user_input

Search What You WantData Science

'Data Science'

In [77]:
search_job=driver.find_element(By.XPATH,"//input [@class= 'suggestor-input ']")
search_job.send_keys(user_input)

In [79]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/div[1]/div/button/span[2]").click()

In [84]:
Designation=[]
try:
    for i in driver.find_elements(By.XPATH,'//a [@class="title ellipsis" ]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')
    time.sleep(5)

In [85]:
len(Designation)

20

In [86]:
Company=[]
try:
    for i in driver.find_elements(By.XPATH,'//a[@ class="subTitle ellipsis fleft" ]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')
    time.sleep(5)

In [87]:
len(Company)

20

In [90]:
Skill=[]
try:
    for i in driver.find_elements(By.XPATH,'//ul [@class="tags has-description"]'):
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('-')
    time.sleep(5)

In [92]:
len(Skill)

20

In [93]:
Location=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]'):
        Location.append(i.text)
except :
    Location.append('Nan')
    time.sleep(5)

In [94]:
len(Location)

20

In [97]:
#name was not available on webpage so scrapped experience in its place

In [95]:
Exp =[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]'):
        Exp.append(i.text)
except NoSuchElementException:
    Exp.append('-')
    time.sleep(5)

In [96]:
len(Exp)

20

In [98]:
import pandas as pd
data=pd.DataFrame({"Company":Company,"Designation":Designation,"Skill":Skill,"Location":Location,"Exprience":Exp})
data

,Company,Designation,Skill,Location,Exprience
0,Credgenics,Director - Data Science,Data Engineering\ndata science\nData Analytics...,"Noida, Uttar Pradesh",8-13 Yrs
1,Blue Yonder,"Sr. Product Manager (Data Science, AI/ML)",SR\nMarketing\nData Science\nAnalytical\nManag...,Bangalore/Bengaluru,5-9 Yrs
2,Blue Yonder,Sr Product Manager (Data Science/AI/ML),Data Science\nproduct manager\nMachine\nScienc...,Remote,10-15 Yrs
3,Transunion,Sr Analyst - Data Science and Analytics,Analytics\nFinance\nBusiness intelligence\nQua...,"Pune, Chennai",5-8 Yrs
4,Arbeit Associates,Data Science Engineer,SQL\nPython\nData Science\nData analytics\nTab...,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",3-7 Yrs
5,AVE-Promagne Business Solutions,L&D Trainer - Python & Data Science/Data Analy...,Python\nMachine\nScience\nDevelopment\nMachine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",9-14 Yrs
6,Mondelez,Manager Data Science,SAP\nScience\nRecognition\nDesign patterns\nDa...,Mumbai,6-11 Yrs
7,Dimensions HRD Consultants,Lead - Data Science - Financial Services,Data Science\nFinancial services\nScience\nDat...,Gurgaon/Gurugram,6-8 Yrs
8,Dimensions HRD Consultants,Head - Data Science & Analytics - Bank,Data Analytics\nData Science\nScience\nData mo...,Gurgaon/Gurugram,12-16 Yrs
9,Raytheon Technologies,Engineer II- Data Science & Analytics,Data Science\nstatistical modeling\nmachine le...,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah...",4-8 Yrs
10,Axtria India,Manager/Senior Manager - Data Science,Data Science\nNatural language processing\nDat...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",8-12 Yrs
11,DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,"Senior Analyst, Data Science",Analysis\nAnalytical\nData Science\nData analy...,Hyderabad/Secunderabad,5-8 Yrs
12,Tredence,Data Science Manager (NLP) / EMBIZ,Consulting\nLanguages\nManagement\nAnalytical\...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",5-8 Yrs
13,Freestone Infotech Private Limited,AI/ML Developer - Python Programming and Data ...,python\ndata science\nTensorflow\nFramework\nD...,Mumbai (All Areas),3-5 Yrs
14,Ajanta Pharma,Sr Programmer - Python / Data Science Developer,Data Modeling\nPython\nStatistics\nData Scienc...,"Mumbai, Maharashtra, Mumbai Suburban, Maharashtra",3-7 Yrs
15,Accenture,Data Science Analytics Sr Analyst - Data Science,Data Science\nCloud\nInsights\nSR\nBusiness In...,Mumbai,5-8 Yrs
16,Mondelez,Manager Data Science,Pattern recognition\nSAP\nData Science\nAnalyt...,Mumbai,4-8 Yrs
17,Teradata,Global Practice Lead - Data Science,Data Science\nWarehouse\nAnalytics\nData\nGlob...,"Hybrid - Hyderabad/ Secunderabad, Telangana, P...",12-22 Yrs
18,Bizongo,Data Science Engineer,Vision\nAnalytics\nDeep Learning\nNetworking\n...,Bangalore/Bengaluru,2-4 Yrs
19,Bajaj Electricals,Demand Planning & Data Science Manager,demand planning\nAnalytics\nData\nPlanning\nSc...,Mumbai (All Areas),5-10 Yrs

In [99]:
driver.close()