In [15]:
!Pip install selenium

Requirement already satisfied: selenium in c:\users\rohit\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (2022.6.15)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\rohit\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\rohit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\rohit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rohit\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rohit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rohit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

question 1

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input " )
designation.send_keys('Data Analyst ')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit" )
search.click()

In [8]:
job_title=[]
job__location=[]
company__name=[]
experience__required=[]

In [9]:
#scrapping job titles from given page
title_tags= driver.find_elements(By.XPATH,'//a [@class="title ellipsis" ]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [10]:
#scrapping job location
location_tags= driver.find_elements(By.XPATH,'//span[@ class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job__location.append(location)

In [11]:
#scrapping company name
company_tags= driver.find_elements(By.XPATH,' //a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company__name.append(company)

In [12]:
#scrapping job experience
experience_tags=  driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"] ')
for i in experience_tags[0:10]:
    experience = i.text
    experience__required.append(experience)

In [13]:
print(len(job_title),len(job__location),len(company__name),len(experience__required))

10 10 10 10

In [14]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job__location,'Company':company__name,'Experience':experience__required})
df

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
1,Tech Data Analyst,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Wipro,3-6 Yrs
2,Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tata Consultancy Services (TCS),5-10 Yrs
3,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
4,Insight Data Analyst,"Noida, Uttar Pradesh, Bangalore/ Bengaluru, Ka...",Vuca Consulting,5-10 Yrs
5,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",KPI Partners,1-4 Yrs
6,Data Analyst,Bangalore/Bengaluru,Vsmart World Communication,4-6 Yrs
7,Data Analyst,"Chennai, Bangalore/Bengaluru",Brunel,3-6 Yrs
8,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Energy,2-7 Yrs
9,Celonis & Salesforce Data Analyst,Hybrid - Bangalore/Bengaluru,Hitachi Ltd.,3-5 Yrs

question no 2

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [18]:
driver.get("https://www.naukri.com/")

In [19]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input " )
designation.send_keys('Data Scientist ')

In [20]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [21]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit" )
search.click()

In [22]:
job_title=[]
job_location=[]
company_name=[]

In [23]:
#scrapping job titles from given page
title_tags= driver.find_elements(By.XPATH,'//a [@class="title ellipsis" ]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [24]:
#scrapping job location
location_tags= driver.find_elements(By.XPATH,' //span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [25]:
#scrapping company name
company_tags= driver.find_elements(By.XPATH,'  //a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [26]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [27]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Deloitte
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
5,Senior Data Scientist,Bangalore/Bengaluru,Walmart
6,Data Scientist,Bangalore/Bengaluru,Walmart
7,Hiring For Data Scientist,"Hybrid - Hyderabad/ Secunderabad, Telangana, C...",Tata Consultancy Services (TCS)
8,Data Scientist,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NC...",Infogain
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IBS Software Services

question 3

In [29]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [30]:
driver.get("https://www.naukri.com/")

In [31]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input " )
designation.send_keys('Data Scientist ')

In [32]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [40]:
#scrapping job titles from given page
title_tags= driver.find_elements(By.XPATH,'//a[@ class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [41]:
#scrapping job location
location_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [42]:
#scrapping company name
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [43]:
#scrapping job experience
experience_tags=  driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"] ')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [44]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [45]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,Noida,Jubilant Ingrevia Limited,3-8 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
5,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Data Scientist,Noida,Innovaccer,2-4 Yrs
8,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
9,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs

question 4

In [9]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [10]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [11]:
driver.get("http://www.flipkart.com/")

In [12]:
brand = driver.find_element(By.CLASS_NAME,"_3704LK"  )
brand.send_keys('sunglasses ')

In [13]:
search=driver.find_element(By.CLASS_NAME,"_34RNph"  )
search.click()

In [14]:
brand_names =[]
products_description=[]
price_product=[]

In [15]:
start = 0
end = 3
for page in range(start,end):
    #scrapping brand name
    title= driver.find_elements(By.XPATH,'//div [@class="_2WkVRV"]')
    for i in title[0:100]:
        brand_names.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [16]:
brands=[brand_names[i] for i in range(0,len(brand_names),1)][:100]

In [17]:
len(brands)

100

In [18]:
start = 0
end = 3
for page in range(start,end):
    #scrapping product description
    description= driver.find_elements(By.XPATH,'//a [@class="IRpwTa"]')
    for i in description[0:100]:
        products_description.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [19]:
descriptions = [ products_description[i] for i in range(0,len( products_description),1)][:100]

In [20]:
len( descriptions)

100

In [21]:
start = 0
end = 3
for page in range(start,end):
    #scrapping product price
    price = driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
    for i in price[0:100]:
        price_product.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [22]:
prices =[price_product[i] for i in range(0,len( price_product),1)][:100]

In [23]:
len(prices)

100

In [24]:
import pandas as pd
df = pd.DataFrame({'Brand':brands,'. Product Description':descriptions,'Price':prices})
df

            Brand                              . Product Description   Price
0          OAKLEY                               Rectangular Sunglass  ₹9,119
1          OAKLEY                               Rectangular Sunglass  ₹7,499
2        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹499
3            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹216
4          PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
..            ...                                                ...     ...
95  VINCENT CHASE             UV Protection Wayfarer Sunglasses (56)    ₹872
96      Elligator      UV Protection Wayfarer Sunglasses (Free Size)    ₹149
97       Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹919
98         PIRASO  by Lenskart Polarized, UV Protection Round Sun...    ₹192
99      ROYAL SON  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹509

[100 rows x 3 columns]

question 5

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [26]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [27]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [28]:
Ratings=[]
Review_summary=[]
Full_review=[]

In [29]:
start = 0
end = 10
for page in range(start,end):
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Ratings.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span") # to scrape data from next pages

In [30]:
len(Ratings)

100

In [31]:
start = 0
end = 10
for page in range(start,end):
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")

In [32]:
len(Review_summary)

100

In [33]:
start = 0
end = 10
for page in range(start,end):
    fullreview = driver.find_elements(By.XPATH,'//div[@class=""]')
    for i in fullreview:
        Full_review.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span") # to scrape data from next pages

In [34]:
len(Full_review)

100

In [35]:
import pandas as pd
df = pd.DataFrame({'Rating':Ratings,'Review summary':Review_summary,'Full review':Full_review})
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

question 6

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [37]:
# connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [38]:
driver.get("http://www.flipkart.com/")

In [39]:
brand = driver.find_element(By.CLASS_NAME,"_3704LK"  )
brand.send_keys('sneakers')

In [40]:
search=driver.find_element(By.CLASS_NAME,"_34RNph" )
search.click()

In [41]:
brand_names =[]
products_description=[]
price_product=[]

In [42]:
start = 0
end = 3
for page in range(start,end):
    #scrapping brand name
    title= driver.find_elements(By.XPATH,'//div [@class="_2WkVRV"]')
    for i in title[0:100]:
        brand_names.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [43]:
len(brand_names)

120

In [44]:
brands=[brand_names[i] for i in range(0,len(brand_names),1)][:100]

In [45]:
len(brands)

100

In [46]:
start = 0
end = 3
for page in range(start,end):
    #scrapping product description
    description= driver.find_elements(By.XPATH,'//a [@class="IRpwTa"]')
    for i in description[0:100]:
        products_description.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [47]:
descriptions = [ products_description[i] for i in range(0,len( products_description),1)][:100]

In [48]:
len( descriptions)

100

In [49]:
start = 0
end = 3
for page in range(start,end):
    #scrapping product price
    price = driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
    for i in price[0:100]:
        price_product.append(i.text)
    next_button = driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") # to scrape data from next pages

In [50]:
prices =[price_product[i] for i in range(0,len( price_product),1)][:100]

In [51]:
len(prices)

100

In [52]:
import pandas as pd
df = pd.DataFrame({'Brand':brands,'. Product Description':descriptions,'Price':prices})
df

         Brand                              . Product Description   Price
0           TR  Casual Shoes| Caual Sneakers| White shoes| Whi...    ₹349
1   Field Care  Casual Fashion Stylish Trending Lightweight Sn...    ₹899
2         PUMA                              Buzz Sneakers For Men  ₹1,699
3         PUMA                            Player Sneakers For Men  ₹1,074
4        BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹479
..         ...                                                ...     ...
95      BRUTON               Modern Trendy Shoes Sneakers For Men    ₹229
96         SFR                                   Sneakers For Men    ₹225
97       Xtoon  White casual, gym,training & Running sneakers ...    ₹499
98        PUMA                         Hustle V2 Sneakers For Men  ₹1,499
99        aadi                                   Sneakers For Men    ₹349

[100 rows x 3 columns]